.main-bg {
    background-image: url("/src/assets/uwp4571532.jpeg");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: full;
}